In [1]:
import pandas as pd 
import json

# Works on the energy consumption data

In [2]:
df_nationalconsumption = pd.read_csv("data/consommation-quotidienne-brute.csv", sep = ";")
df_nationalconsumption["timestamp"] = pd.to_datetime(df_nationalconsumption["Date - Heure"])

In [3]:
df_nationalconsumption.head()

,Date - Heure,Date,Heure,Consommation brute gaz (MW PCS 0°C) - GRTgaz,Statut - GRTgaz,Consommation brute gaz (MW PCS 0°C) - Teréga,Statut - Teréga,Consommation brute gaz totale (MW PCS 0°C),Consommation brute électricité (MW) - RTE,Statut - RTE,Consommation brute totale (MW),timestamp
0,2012-07-23T09:30:00-04:00,23/07/2012,15:30,NaN,NaN,NaN,NaN,NaN,51948,Définitif,NaN,2012-07-23 09:30:00-04:00
1,2012-01-29T04:30:00-05:00,29/01/2012,10:30,NaN,NaN,NaN,NaN,NaN,67623,Définitif,NaN,2012-01-29 04:30:00-05:00
2,2012-01-29T02:30:00-05:00,29/01/2012,08:30,NaN,NaN,NaN,NaN,NaN,61486,Définitif,NaN,2012-01-29 02:30:00-05:00
3,2012-06-10T15:00:00-04:00,10/06/2012,21:00,23312.0,Définitif,1253.0,Définitif,24565.0,41896,Définitif,66461.0,2012-06-10 15:00:00-04:00
4,2012-03-12T14:00:00-04:00,12/03/2012,19:00,65543.0,Définitif,4560.0,Définitif,70103.0,63446,Définitif,133549.0,2012-03-12 14:00:00-04:00

In [4]:
# Focus on the data related to the electricity consumption
df_nationalconsumption_electricity = df_nationalconsumption[["timestamp","Statut - RTE","Consommation brute électricité (MW) - RTE"]]
df_nationalconsumption_electricity.columns = ["timestamp","datastatus","electricityconsumption"]
df_nationalconsumption_electricity["day"] = df_nationalconsumption_electricity["timestamp"].apply(lambda x: x.strftime("%Y-%m-%d"))

C:\Users\jmdaignan\AppData\Local\Continuum\anaconda3\envs\mlflow_p36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [5]:
# Aggregate the data to a daily scale
aggfunc = {
    "electricityconsumption" : {
        "dailyconsumption" : "sum",
        "count_points" : "count"
    }
}
df_nationalconsumption_electricity_daily = df_nationalconsumption_electricity.groupby(["day","datastatus"]).agg(aggfunc).reset_index()
df_nationalconsumption_electricity_daily.columns = ["day","datastatus","dailyconsumption","count_points"]

# Get knowledge on the day
df_nationalconsumption_electricity_daily["day"] = pd.to_datetime(df_nationalconsumption_electricity_daily["day"])
df_nationalconsumption_electricity_daily["weekday"] = df_nationalconsumption_electricity_daily["day"].apply(lambda x: x.weekday())
df_nationalconsumption_electricity_daily["week"] = df_nationalconsumption_electricity_daily["day"].apply(lambda x: x.isocalendar()[1])
df_nationalconsumption_electricity_daily["month"] = df_nationalconsumption_electricity_daily["day"].apply(lambda x: x.month)
df_nationalconsumption_electricity_daily["year"] = df_nationalconsumption_electricity_daily["day"].apply(lambda x: x.year)
df_nationalconsumption_electricity_daily.tail()

C:\Users\jmdaignan\AppData\Local\Continuum\anaconda3\envs\mlflow_p36\lib\site-packages\pandas\core\groupby\generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

,day,datastatus,dailyconsumption,count_points,weekday,week,month,year
2797,2019-08-27,Consolidé,2266383,48,1,35,8,2019
2798,2019-08-28,Consolidé,2275039,48,2,35,8,2019
2799,2019-08-29,Consolidé,2270615,48,3,35,8,2019
2800,2019-08-30,Consolidé,2243898,48,4,35,8,2019
2801,2019-08-31,Consolidé,1554762,36,5,35,8,2019

## Works on the weather data  (temperature)

In [6]:
# collect information on the area/region (https://www.ined.fr/fr/tout-savoir-population/chiffres/france/structure-population/regions-departements/)
df_population = pd.read_csv("data/population.csv")

total_populations = df_population.iloc[-1]


columns_weightarea = []
for column in df_population.columns[1:]:
    overall = total_populations[column]
    new_column = "weigth_" + column
    
    df_population[new_column] = df_population[column] / overall
    
    columns_weightarea.append(new_column)
    
df_population = df_population[["area"] + columns_weightarea]
df_population

,area,weigth_population_census1990,weigth_population_census1999,weigth_population_estimation2008,weigth_population_estimation2019
0,Auvergne-Rhône-Alpes,0.117860,0.118804,0.120047,0.123846
1,Bourgogne-Franche-Comté,0.047826,0.046637,0.045104,0.043129
2,Bretagne,0.049390,0.049645,0.050691,0.051370
3,Centre-Val de Loire,0.041886,0.041717,0.040743,0.039603
4,Corse,0.004412,0.004447,0.004876,0.005233
5,Grand-Est,0.093219,0.092100,0.088862,0.085141
6,Hauts-de-France,0.101997,0.100099,0.095455,0.092240
7,Ile-de-France,0.188145,0.187122,0.187644,0.188443
8,Normandie,0.055267,0.054746,0.052999,0.051211
9,Nouvelle-Aquitaine,0.090395,0.089885,0.091270,0.092375
10,Occitanie,0.080355,0.082786,0.087229,0.090922
11,Pays de la Loire,0.054001,0.055045,0.056493,0.058423
12,Provence-Alpes-Côte d'Azur,0.075247,0.076968,0.078586,0.078064
13,overall,1.000000,1.000000,1.000000,1.000000

In [473]:
# Prepare the weather data
df_regionalweather = pd.read_csv("data/temperature-quotidienne-regionale.csv", sep = ";")
df_regionalweather["day"] = pd.to_datetime(df_regionalweather["Date"])
df_regionalweather = df_regionalweather[["day","Région","TMin (°C)","TMax (°C)","TMoy (°C)"]]
df_regionalweather.columns = ["day","area","min_temperature","max_temperature","mean_temperature"]
df_regionalweather = pd.merge(df_regionalweather, df_population[["area"] + columns_weightarea], on = ["area"])

# Make quick average of the min, max and mean temperature of the region
df_nationalweather_nw = df_regionalweather.groupby(["day"]).mean()[["min_temperature","max_temperature","mean_temperature"]]
df_nationalweather_nw.columns = ["avg_min_temperature","avg_max_temperature","avg_mean_temperature"]

# Make a weighted average version (based on the population estimation in the region of 2008)
df_regionalweather_w = df_regionalweather[["day","area","min_temperature","max_temperature","mean_temperature","weigth_population_estimation2008"]]
for column in ["min_temperature","max_temperature","mean_temperature"]:
    df_regionalweather_w [column] = df_regionalweather_w [column] * df_regionalweather_w ["weigth_population_estimation2008"]

# Aggregate the weighted regional value
df_nationalweather_w = df_regionalweather_w.groupby(["day"]).sum()

# Drop some table
del df_nationalweather_w["weigth_population_estimation2008"]

# Rename some columns
df_nationalweather_w.columns = ["wavg_min_temperature","wavg_max_temperature","wavg_mean_temperature"]

df_nationalweather = pd.concat([df_nationalweather_nw,df_nationalweather_w], axis = 1)
df_nationalweather.reset_index(inplace = True)

C:\Anaconda3\envs\env_versioning_36\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [474]:
df_nationalweather.head()

,day,avg_min_temperature,avg_max_temperature,avg_mean_temperature,wavg_min_temperature,wavg_max_temperature,wavg_mean_temperature
0,2016-01-01,3.622308,10.899231,7.260000,3.166927,10.355107,6.760649
1,2016-01-02,6.862308,10.932308,8.898462,6.528056,10.556626,8.543535
2,2016-01-03,5.075385,9.722308,7.399231,4.616267,9.064628,6.840517
3,2016-01-04,5.839231,10.772308,8.306154,5.622484,10.215111,7.918589
4,2016-01-05,5.398462,9.999231,7.699231,4.944137,9.448007,7.196557

## Final steps on the data preparation

In [475]:
# Merge weather and electricity information
df_nationalconsumption_electricity_daily = pd.merge(df_nationalconsumption_electricity_daily,df_nationalweather, on =["day"])

In [476]:
# Add the holiday
import holidays

#define the holiday object for france
holidays_france = holidays.France()

# Get the holiday for the day in France
df_nationalconsumption_electricity_daily["is_holiday"] = df_nationalconsumption_electricity_daily["day"].apply(lambda day: day in holidays_france)
# Convert boolean to 0,1
df_nationalconsumption_electricity_daily["is_holiday"] = df_nationalconsumption_electricity_daily["is_holiday"] * 1
# Set the index 
df_nationalconsumption_electricity_daily.set_index(["day"], inplace = True)

In [477]:
# Select only the day that have 48 points of measurement (every 30 minutes)
df_nationalconsumption_electricity_daily = df_nationalconsumption_electricity_daily[df_nationalconsumption_electricity_daily["count_points"] == 48]
del df_nationalconsumption_electricity_daily["count_points"]

In [478]:
# Save the data ready to use
df_nationalconsumption_electricity_daily.to_csv("data/rtu_data.csv")